
<div class="container-fluid ">
        <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <div class="card image" style="height:600px;width:400px;">
                               
                                <!-- <nav class="navbar navbar-dark">
                                                 <span class="navbar-brand" style="color:white">Change Password</span>
                                                
                                                <h1>Change Password</h1> 
                   
                                </nav> -->
                <div class="card-body">
                        <h1 class="text-center" ></h1>
                        <!-- {{changePasswordModel.value|json}} -->
                        <form action="" [formGroup]="changePasswordModel">

                        <div class="form-group input-group-lg">

                                <label for="oldPassword"></label>
                                <input type="text" id="oldPassword" class="form-control myinputcss" placeholder="Old Password" style="margin-top: 70px;"formControlName="OldPassword">  
                                        <div class="validation" *ngIf="changePasswordModel.controls['OldPassword'].hasError('required')
                                                                        && (changePasswordModel.controls['OldPassword'].touched||changePasswordModel.controls['OldPassword'].dirty)">
                                                <b>This field is requried</b>
                                        </div>

                                        <div class="validation" *ngIf="changePasswordModel.controls['OldPassword'].hasError('pattern')">
                                                        <b>password should be maximum 7 character long</b>
                                        </div>
                               
                                   
                        </div>
                        <div class="form-group input-group-lg" > 
                                <label for="newPasword"></label>
                                <input type="text" name="passwordval" id="newPasword" class="form-control myinputcss" placeholder="New Password"formControlName="newPassword" >
                                        <div class="validation" *ngIf="changePasswordModel.controls['newPassword'].hasError('required')
                                                                        && (changePasswordModel.controls['newPassword'].touched||changePasswordModel.controls['newPassword'].dirty)">
                                                <b>This field is requried</b>

                                        </div>
                                        <div class="validation" *ngIf="changePasswordModel.controls['newPassword'].hasError('pattern')">
                                                        <b>password should be maximum 7 character long</b>
                                        </div>

                                
                        </div>
                        <div class="form-group input-group-lg" >
                                        <label for="confirmPassword"></label>
                                        <input type="text" id="confirmPassword" name="ConfirmPassword" compare="newPassword"   class="form-control myinputcss" placeholder="Confirm Password" formControlName="ConfirmPassword">
                                
                                        <div class="validation" *ngIf="changePasswordModel.controls['ConfirmPassword'].hasError('required')
                                        && (changePasswordModel.controls['ConfirmPassword'].touched||changePasswordModel.controls['ConfirmPassword'].dirty)">
                                        <b>This field is requried</b>
                                          
                
                                        </div>
                                        <div class="validation" *ngIf="changePasswordModel.controls['ConfirmPassword'].hasError('pattern')">
                                                <b>password should be maximum 7 character long</b>
                                            </div>  
                
                                            <div class="validation" *ngIf="changePasswordModel.controls['ConfirmPassword'].hasError('compare')">
                                                <b>   Confirm Password do not match</b> 
                                                </div>        
                                        
                        </div>
                        
                        <div class="form-group">
                                <button type="submit" class="btn btn-primary buttonCancelUpdate" style="margin-right:20px"(click)="ChangePassword(changePasswordModel.value)"[disabled]="!changePasswordModel.valid">Submit</button>  <!-- [disabled]="!loginModel.valid" -->
                                <button type="reset" class="btn btn-danger buttonCancelUpdate">Cancel</button>
                        </div>
                        </form>
              </div>      `
        
                </div>

                <div class="col-md-4">


        </div>
</div> 

