<div class="container-fluid image">
<div class="row">
        <div class="col-md-4"></div>
<form [formGroup]="setpassowrdModule">

            <div class="card image" style="width:400px;height:700px">
                <div class="card-body">
                    <h1 class="text-center" style="color:white;margin-top:100px">Set Password</h1>

                    <div class="form-group input-group-lg">
                        <label for="upassword"></label>
                        <input type="password" id="upassword" class="form-control Myinputs " placeholder="Enter Password" formControlName="varpassword">
                       
                        <div class="validation" *ngIf="setpassowrdModule.controls['varpassword'].hasError('required')
                        && (setpassowrdModule.controls['varpassword'].touched||setpassowrdModule.controls['varpassword'].dirty)">
                        <b>This Field is requried</b>
                          

                        </div>
                        <div class="validation" *ngIf="setpassowrdModule.controls['varpassword'].hasError('pattern')">
                                <b>password should be maximum 7 character long </b>
                            </div>  
                        
                        
                    </div>
                    

                    <div class="form-group input-group-lg">
                        <label for="uconpassword"></label>
                        <input type="password" id="uconpassword" class="form-control " compare="varpassword"placeholder="Confirm Password"formControlName="varconfirmPassword">
                          
                        <div class="validation" *ngIf="setpassowrdModule.controls['varconfirmPassword'].hasError('required')
                        && (setpassowrdModule.controls['varconfirmPassword'].touched||setpassowrdModule.controls['varconfirmPassword'].dirty)">
                        <b>This field is requried</b>
                          

                        </div>
                        <div class="validation" *ngIf="setpassowrdModule.controls['varconfirmPassword'].hasError('pattern')">
                                <b>password should be maximum 7 character long</b>
                            </div>  

                            <div class="validation" *ngIf="setpassowrdModule.controls['varconfirmPassword'].hasError('compare')">
                                <b>   Confirm Password do not match</b> 
                                </div>
                        
                    
                    </div>

                

                    <div class="row">
                        <div class="col-md-12 text-center">
                            <button type="submit" [routerLink]="['/']" class="btn btn-primary btn-outline btn-md center-block" style="margin-right:20px"(click)="updatePasswordAction(setpassowrdModule.value)"[disabled]="!setpassowrdModule.valid">Submit</button>
                            <button type="submit"[routerLink]="['/']" class="btn btn-danger btn-outline btn-md center-block">Cancel</button>

                        </div>

                    
                    </div>
               

                </div>

            </div>
</form>

        
    <div class="col-md-4"></div>


</div>
    

</div>